.header-searcher-container{
    width: 100%;
    max-width: 1920px;
    background-color: var(--color-secondary-green);
    height: 120px;
}

.searcher-container{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#search-box {
    position: relative;
    width: 100%;
    margin: 0;
    }
    #search-form {
    height: 42px;
    border: 1px solid #cbf3ee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    }
    #search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
    }
    
    #search-box input[type="text"] {
    width: 90%;
    padding: 8px 0 12px 1em;
    color: #333;
    outline: none;
    }
    #search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 4px;
    border-width: 0;
    background-color: var(--color-background-light);
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 15px 5px 0px;
    cursor: pointer;
    color:var(--color-primary-green)
    }
    #search-button:hover{
        background-color: var(--color-primary-green);
        color:var(--color-background-light);
    }