@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
:root {
  font-family: Fredoka;
  --color-primary-green:#609966;
  --color-secondary-green:#9DC08B;
  --color-third-green:#40513B;
  --color-background-light:#EDF1D6;
  --color-grey-letter:#676666;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
